@charset "utf-8";
@import url('header.css');
@import url('navigation.css');
@import url('contents.css');
@import url('footer.css');
@import url('W3CValidator.css');
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body
{
	font: 100% Ubuntu, Droid Sans, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 50px 0px; /* Must be at least line-height in navigation & footer! */
	color: #000000;
}

a
{
	text-decoration: none;
	color: #000000;
}

a img
{
	border: none;
}

a:hover
{
	color: #555555;
}