#contents
{
	width: 900px;
	overflow: hidden;
	color: #333333;
	margin: 0px auto;
}

#contents>*
{
	border-radius: 10px;
	background-color: #F5F5F5;
	border: 1px solid #C6C6C6;
	margin-top: 10px;
	padding: 10px;
}

#contents>.story:first-child, #contents>.story>.title+*, #contents>.story>.copy>h1+*, #contents>.story>.copy>h2+*
{
	margin-top: 0px;
}

#contents>.story>.title, #contents>.story>.copy>h1, #contents>.story>.copy>h2, #contents>.story>.copy>h3
{
	margin: 0px;
	color: #7E7C79;
	font-weight: bold;
	text-transform: capitalize;
}

#contents>.story>.title
{
	font-size: 20pt;
}

#contents>.story>.title:after, #contents>.story>.copy>h1:after
{
	background-color: #C6C6C6;
	height: 2px;
	display: block;
	content: "";
}

#contents>.story>.title:after
{
	margin: 5px -10px 5px -10px;
}

#contents>.story>.copy>h1
{
	font-size: 16pt;
}

#contents>.story>.copy>h1:after
{
	margin: 5px 75% 5px -10px;
}

#contents>.story>.copy>h2
{
	font-size: 14pt;
}

#contents>.story>.copy>h3
{
	font-size: 100%;
	display: inline;
}

#contents>.story>.copy>h3+*
{
	display: inline;
}

#contents>.story>.copy>p
{
	margin: 5px auto;
	text-indent: 50px;
}

#contents>.story>.copy>p:first-child
{
	margin-top: 0px;
}

#contents>.story>.copy>p:last-child
{
	margin-bottom: 0px;
}

#contents>.story>.copy>.linkList
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#contents>.story>.copy>.linkList>li
{
	margin: 0px;
	border-radius: 10px;
	overflow: hidden;
}

#contents>.story>.copy>.linkList>li>a
{
	color: inherit;
	margin: 0px;
	padding: 5px 0px;
	display: block;
}

#contents>.story>.copy>.linkList>li>a:hover
{
	background-color: #E5E5E5;
}

#contents>.story>.copy>.linkList>li>a:active
{
	background-color: #D5D5D5;
}