#container_footer
{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#footer
{
	margin: 0px auto;
	background-color: #0071C5;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 900px;
	color: #DDDDDD;
	border-radius: 10px 10px 0px 0px;
}

#footer>p
{
	margin: 0px;
	font-size: 60%;
}