#header
{
	width: 900px;
	background-color: inherit;
	margin: 0px auto 10px auto;
	color: #0071C5;
	padding: 0px;
	text-align: center;
	max-height: 100px;
}

#header>p
{
	margin: 0px;
	font-size: 40pt;
	display: inline;
	vertical-align: middle;
	max-height: inherit;
}

#header>img
{
	max-height: inherit;
	display: inline;
	margin: 0px 10px;
	vertical-align: middle;
}