#container_navigation
{
	position: fixed;
	top: 0px;
	width: 100%;
}

#navigation
{
	margin: 0px auto;
	background-color: #0071C5;
	padding: 0px;
	text-align: center;
	width: 900px;
	height: 40px;
	line-height: 40px;
	color: #DDDDDD;
	border-radius: 0px 0px 10px 10px;
	text-transform: uppercase;
	overflow: hidden;
}

#navigation>ul
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#navigation>ul>li
{
	display: inline-block;
	margin: 0px;
	padding: 0px 10px;
}

#navigation>ul>li>a
{
	color: inherit;
	margin: 0px;
	display: block;
}

#navigation>ul>li:hover
{
	background-color: #1081D5
}

#navigation>ul>li:active
{
	background-color: #2091E5
}